<%= render 'layouts/sidebar' %>

<div class="w-64 h-screen shrink-0"></div>

<div class="font-gothic-new w-full h-max flex flex-wrap justify-center">

  <div class="w-full flex justify-center mt-10 mb-8">
    <p>いいね一覧</p>
  </div>

  <%= render 'posts/index', posts: @posts %>
