<%= render 'layouts/sidebar' %>

<div class="font-gothic-new w-full h-full min-h-full flex flex-wrap justify-center">
    <p class="font-semibold w-full text-center my-9">フォロー中</p>
  <% if @users.exists? %>
    <%= render 'users_index', users: @users %>
  <% else %>
    <p class="w-full text-center">ユーザーはいません</p>
  <% end %>
</div>
