<%= render 'layouts/sidebar' %>

<div class="font-gothic-new w-full min-h-full flex flex-col items-center">
  <p class="font-semibold w-full text-center my-5 sm:my-9">フォロワー</p>
  <% if @users.exists? %>
    <%= render 'users_index', users: @users %>
  <% else %>
    <p class="w-full text-center">ユーザーはいません</p>
  <% end %>
</div>
