<%= render 'layouts/sidebar' %>

<div class="w-64 shrink-0"></div>

<div class="h-screen">
  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
    <% if notifications.exists? %>
      <%= render @notifications %>
      <%= paginate notifications %>
    <% else %>
      <p>通知はありません</p>
  <% end %>
  <!--モーダルの周囲を薄暗くするマスク-->
  <div id="mask" class="hidden"></div>
  <!--モーダル-->
  <!--あとからJavaScriptで<div>内のコードをshowビューのコードに置き換えます。-->
  <div id="modal" class="hidden">
    <p>モーダルウィンドウ<p>
  </div>
</div>