<%= render 'layouts/sidebar' %>

<div class="min-h-full font-gothic-new mx-auto">
  <p class="font-semibold text-center my-10">通知一覧</p>

  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
    <% if @notifications.exists? %>
      <%= render @notifications %>
      <%= paginate @notifications %>
    <% else %>
      <p class="text-center mt-10">通知はありません</p>
  <% end %>

  <!--モーダルの周囲を薄暗くするマスク-->
  <div id="mask" class="hidden"></div>
  <!--モーダル-->
  <!--あとからJavaScriptで<div>内のコードをshowビューのコードに置き換えます。-->
  <div id="modal" class="hidden">
    <p>モーダルウィンドウ<p>
  </div>
</div>
