<%= render 'layouts/sidebar' %>

<div class="font-gothic-new w-full h-full flex flex-wrap justify-center">
  
  <%= render 'users/info', user: @user %>
  
  <!--ログインユーザーのみ表示-->
  <% if @user == current_user %>
    <div class="w-full flex justify-center mb-8">
      <p class="tracking-[.2em] mr-8 font-semibold">view all</p>
      |
      <p class="ml-8"><%= link_to 'いいね一覧', user_favorites_path(@user) %></p>
    </div>
  <% end %>
  <!-- ユーザーの投稿一覧 -->
  <%= render 'posts/index', posts: @posts %>

  <!--モーダルの周囲を薄暗くするマスク-->
  <div id="mask" class="hidden"></div>
  <!--モーダル-->
  <!--あとからJavaScriptで<div>内のコードをshowビューのコードに置き換えます。-->
  <div id="modal" class="hidden">
    <p>モーダルウィンドウ<p>
  </div>

</div>