@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&family=Zen+Kaku+Gothic+New&display=swap');

.font-shippori {
  font-family: 'Shippori Mincho B1', serif;
}

.font-gothic-new {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.show-image {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.image-element{
  width: 150px;
  height: 150px;
  border: 1px solid;
  margin: 2px 4px;
  display: flex;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* hiddenクラスがないとマスクとモーダルが表示される（JavaScriptでhiddenクラスを消したとき）*/
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 5vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 20;   /* マスクより上に重なるようにする */
  max-width: 65%;   /* showビューの幅に合わせて設定 */
  max-height: 90%;
  background-color: white;
}

/* hiddenクラスで最初は表示されないようにする */
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

.swiper-pagination-bullet {
  background-color: gray;
}

.swiper-button-prev:after,
.swiper-button-next:after {
 display: none;
}
