@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&family=Zen+Kaku+Gothic+New&display=swap');

.font-shippori {
  font-family: 'Shippori Mincho B1', serif;
}

.font-gothic-new {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

main {
  padding-top: 200px;
}

.pulsing-text {
  @apply animate-pulse font-bold text-gray-200 text-2xl mb-6;
}