<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper w-6/12 h-[750px]">
    <!-- Slides -->
    <% post.images.each do |image| %>
      <%= image_tag image, class: "swiper-slide show-image" %>
    <% end %>
  </div>
  <!-- pagination -->
  <div class="swiper-pagination"></div>

  <!-- navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
