<%= render 'layouts/sidebar' %>

<div class="font-gothic-new w-full h-full flex flex-wrap justify-center">

  <div class="w-full text-center mt-10 mb-8">
    <p>検索結果 <%= @categories.count %> 件</p>
    <p><%= @category.name %></p>
  </div>

  <%= render 'posts/index', posts: @categories %>

  <!--モーダルの周囲を薄暗くするマスク-->
  <div id="mask" class="hidden"></div>
  <!--モーダル-->
  <!--あとからJavaScriptで<div>内のコードをshowビューのコードに置き換えます。-->
  <div id="modal" class="hidden">
    <p>モーダルウィンドウ<p>
  </div>
</div>
