<footer class="relative bg-white z-10 pb-14" id="footer">
  <div class="w-11/12 h-40 border border-black mx-auto font-shippori text-center">
    <%= link_to "/" do %>
      <p class="text-3xl my-9">Furny</p>
    <% end %>
    <div class="font-shippori flex justify-center">
      <a href="#footer" class="mr-5">運営情報</a>
      <a href="#footer" class="mr-5">プライバシーポリシー</a>
      <a href="#footer" class="mr-5">利用規約</a>
      <a href="#footer">お問い合わせ</a>
    </div>
    <p class="text-xs mt-1">&copy; 2023 yk-kc</p>
  </div>
</footer>