<footer class="relative z-10 pb-[48px] md:pb-14" id="footer">
  <div class="w-11/12 h-[135px] sm:h-40 border border-black mx-auto font-shippori text-center pt-2 sm:pt-9">
    <%= link_to "/" do %>
      <span class="text-[20px] sm:text-3xl">Furny</span>
    <% end %>
    <div class="font-shippori sm:flex sm:justify-center text-[10px] sm:text-[16px] mt-2 sm:mt-9">
      <p><a href="#footer" class="sm:mr-5">運営情報</a></p>
      <p><a href="#footer" class="sm:mr-5">プライバシーポリシー</a></p>
      <p><a href="#footer" class="sm:mr-5">利用規約</a></p>
      <p><a href="#footer">お問い合わせ</a></p>
    </div>
    <p class="text-[7px] sm:text-xs mt-2 sm:mt-1">&copy; 2023 yk-kc</p>
  </div>
</footer>
