<header class="fixed top-0 left-0 right-0 z-10">
  <div class="w-11/12 h-[65px] sm:h-36 border border-black mx-auto mt-2 sm:mt-14">
    <div class="w-full border-t border-black mt-2 sm:my-6"></div>
    <div class="flex justify-between items-center pl-[10px] sm:pl-20">
    <%= link_to "/" do %>
      <p class="font-shippori text-[32px] sm:text-6xl">Furny</p>
    <% end %>
      <botton><%= link_to "ログイン", new_user_session_path, class: "font-gothic-new rounded-md bg-transparent px-2 py-1 text-xs font-medium text-gray-700 ring-1 ring-inset ring-sky-500 hover:text-white hover:bg-sky-500 mr-3 sm:ml-5 sm:hidden" %></botton>
    </div>
  </div>
</header>
