<header class="fixed top-0 left-0 right-0 z-10">
  <div class="w-11/12 h-[65px] sm:h-36 border border-black mx-auto mt-2 sm:mt-14">
    <div class="w-full border-t border-black mt-2 sm:my-6"></div>
    <%= link_to "/" do %>
      <span class="font-shippori text-[32px] ml-[10px] sm:text-6xl sm:ml-20">Furny</span>
    <% end %>
  </div>
</header>
